<a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(item)"
    [ngClass]="{'active': item.router ? item.id == navService.activeNavItem : false, 'expanded': expanded}"
    class="menu-list-item">
    <mat-icon *ngIf="item.icon" class="routeIcon">{{item.icon}}</mat-icon>
    {{item.title}}
    <span class="spacer"></span>
    <span fxFlex *ngIf="item.children && item.children.length">
        <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
            expand_more
        </mat-icon>
    </span>
</a>
<div *ngIf="expanded">
    <app-menu-list-item *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
    </app-menu-list-item>
</div>